h1 {
    color: yellow;
}

body {
    background-color: rgb(0, 81, 255);
    margin: 5 10;
    text-align: center;
}

p {
    color: white;
}

h1, p {
    font-family: fantasy;
    font-weight: 20;
}

body {
    margin: 0; 
}

.banner {
    width: 100%;
    height: 250px;   
    object-fit: cover;
    display: block;  
}

label {
    color: white;
}

.row {
    display: flex;
    gap: 10px;
    justify-content: center; 
}

.input {
    flex: 1; 
    color: white;
}

#body {
    text-align: center;
}

ol {
    list-style-position: inside;
    text-align: center;
    padding: 0;
    margin: 0 auto; 
    color: white;
    
}

#form {
    color: white;
    text-align: center;
    justify-content: center;
}

